<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/tracks">
        <img src="https://seeklogo.com/images/M/music-box-logo-52D9A99D76-seeklogo.com.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          <%= link_to "New track", new_track_path, class: "navbar-item"%>
        </a>

        <a class="navbar-item">
          <%= link_to "About", "/pages/about", class: "navbar-item"%>
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <% if logged_in? %>
            <%= "Hello #{current_user.name}!" %> 
            <%= link_to 'Logout', session_path, class: "button is-danger", data: {turbo_method: :delete} %>
          <% else %>
            <div class="buttons">
            <%= link_to 'Sign Up', new_user_path, class: "button is-primary" %>
            <%= link_to 'Log In', new_session_path, class: "button is-light" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
</header>